* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(229, 229, 229);
}

.wrapper {
    width: 600px;
    min-height: 556px;
    margin: 150px auto 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.up_side {
    padding-top: 20px;
    width: 100%;
    height: 356px;
    border-radius: 10px 10px 0  0;
    background-color: white;
}

h2 { 
    text-align: center; 
}

p {
    width: 65px;
}

.id_block,
.name_block,
.email_block,
.address_block,
.phone_block {
    width: 100%;
    display: flex;
    margin: 20px 0 0 50px;
    font-size: 20px; 
}

input {
    width: 70%;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    padding-left: 10px;
}

.add_button,
.edit_button,
.remove_button {
    width: 198px;
    height: 50px;
    margin-top: 20px;
    font-size: 18px; 
    color: white; 
    background-color:rgb(179, 0, 179);
    border: none;
}

.add_button:hover,
.edit_button:hover,
.remove_button:hover {
    color: black;
}

.edit_button,
.remove_button {
    margin-left: 3px;
}

.down_side {
    width: 100%;
    min-height: 200px;
    padding: 20px 0 15px 0;
    border-radius:  0  0 10px 10px; 
    background-color: white;
    font-size: 20px; 
    text-align: center;
} 

.down_side h2 {
    font-size: 26px;
}

.contacts_list {
    padding-top: 20px;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
    position: relative;
}

li:hover {
    background-color:rgb(179, 0, 179);
    transition: 0.8s;
    color: white;
}

.checked {
    background-color:rgb(179, 0, 179);
    color: white;
}